/*=============================================
=            Base            =
=============================================*/
#app
  font-family Andale Mono, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50
  margin-top 40px
  font-size 16px
  h1
    margin 0s

/*=============================================
=            Utility            =
=============================================*/

fx
  display flex
.fx
  display flex
.fx-c
  display flex
  align-items center
  justify-content center

/*=============================================
=            Component            =
=============================================*/


#nav
  ul
    display inline-flex
    list-style none
    li
      margin 0 8px
      a
        text-decoration none
        color gray
        font-size 1.4rem

button
  box-sizing border-box
  margin 4px
  line-height calc(36px / 2)
  height 36px
  background-color transparent
  border 2px solid gray
  border-radius 8px
  width auto
  min-width 120px
  cursor pointer
  transition .2s
  &:hove
    background-color lightgrey
  &:focus
    border-radius 0

code
  background-color lighten(blue,85%)
  padding 4px 8px
  border-radius 4px

input
  font-size 20px
  padding 8px 16px
  border-radius 8px
  border 1px solid gray

ul
  li
    list-style none


/*=============================================
=            Comp            =
=============================================*/
.comp
  display flex
  justify-content center
  padding 0 5vw
  div
    border 1px solid #eee
    margin 0 12px
    padding 32px 48px